.mainBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.detailPanel{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
