.canvasContainer { 
    height:'100%'; 
    width:'100%';
    position: relative;
}
.drawCanvas { 
    width:100%; 
    height:100%; 
    background-repeat:no-repeat; 
    background-position:center center; 
    -webkit-background-size:cover; 
    -moz-background-size:cover; 
    -o-background-size:cover; 
    background-size:cover; 
    outline:none; 
    -webkit-user-select:none; 
    -webkit-touch-callout:none; 
    -khtml-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select:none; 
    user-select:none; 
    touch-action:none; 
    -ms-touch-action:none; 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    -webkit-tap-highlight-color: transparent; 
}
.embeddedFullScreenButton{
    position: absolute;
    opacity: 0.5;
    visibility: visible;
    right: -18px;
    top: -18px;
    scale: 50%;
    cursor: pointer;
}
.embeddedHomeButton{
    position: absolute;
    opacity: 0.5;
    visibility: visible;
    left: -18px;
    top: -18px;
    scale: 50%;
    cursor: pointer;
}
.embeddedLightingButton{
    position: absolute;
    opacity: 0.5;
    visibility: visible;
    left: 20px;
    top: -18px;
    scale: 50%;
    cursor: pointer;
}
.embeddedLightButton{
    position: absolute;
    opacity: 0.5;
    visibility: visible;
    left: 60px;
    top: -18px;
    scale: 50%;
    cursor: pointer;
}
.embeddedPerspectiveButton{
    position: absolute;
    opacity: 0.5;
    visibility: visible;
    left: 100px;
    top: -18px;
    scale: 50%;
    cursor: pointer;
}
.embeddedColorButton{
    position: absolute;
    opacity: 0.5;
    visibility: visible;
    left: 140px;
    top: -18px;
    scale: 50%;
    cursor: pointer;
}
.embeddedMeasureButton{
    position: absolute;
    opacity: 0.5;
    visibility: visible;
    left: 260px;
    top: -18px;
    scale: 50%;
    cursor: pointer;
}
.embeddedPickButton{
    position: absolute;
    opacity: 0.5;
    visibility: visible;
    left: 220px;
    top: -18px;
    scale: 50%;
    cursor: pointer;
}
.embeddedScreenshotButton{
    position: absolute;
    opacity: 0.5;
    visibility: visible;
    left: 180px;
    top: -18px;
    scale: 50%;
    cursor: pointer;
}
